<footer>
    <div class="social-media">
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="copywrite">
        &copy; WanderLust Private Limated
    </div>
    <div class="policy">
        <a href="#">Terms & Conditions</a>
        <a href="#">Policy</a>
    </div>
</footer>