<% layout("/layouts/boilerplate") %>

<style>
  .filter {
    text-align: center;
    margin-right: 1rem;
    opacity: 0.7;
    flex: 0 0 auto;
    scroll-snap-align: center; /* Each item snaps into place */
    min-width: 60px; /* Adjust width as needed */
    padding: 15px;
    /* background: lightgray; */
    border-radius: 8px;
    text-align: center;
    flex: 0 0 auto;
  }
  .filter p {
    font-size: smaller;
  }
  #filters {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 1rem; */
    display: flex;

    overflow-x: auto; /* Enables horizontal scrolling */
    scroll-snap-type: x mandatory; /* Ensures smooth snap scrolling */
    gap: 10px; /* Space between items */
    padding: 10px;
    white-space: nowrap;
  }
  .filter:hover {
    opacity: 0.9;
    cursor: pointer;
  }
</style>

<body>
  <div id="filters">
    <div class="filter" id="rooms">
      <div class="icon" id="rooms"><i id="rooms" class="fa-solid fa-bed"></i></div>
      <p id="rooms">Rooms</p>
    </div>
    <div class="filter" id="villa" >
      <div class="icon" id="villa"><i id="villa" class="fa-brands fa-fort-awesome"></i></div>
      <p id="villa">Villa</p>
    </div>
    <div class="filter" id="with pool">
      <div class="icon" id="with pool"><i id="with pool" class="fa-solid fa-person-swimming"></i></div>
      <p id="with pool">With pool</p>
    </div>
    <div class="filter" id="iconic location">
      <div class="icon" id="iconic location"><i id="iconic location" class="fa-solid fa-mountain-city"></i></div>
      <p id="iconic location">Iconic location</p>
    </div>
    <div class="filter" id="mountains">
      <div class="icon" id="mountains"><i id="mountains" class="fa-solid fa-mountain-sun"></i></div>
      <p id="mountains">Mountains</p>
    </div>
    <div class="filter" id="camping">
      <div class="icon" id="camping"><i id="camping" class="fa-solid fa-campground"></i></div>
      <p id="camping">Camping</p>
    </div>
    <div class="filter" id="arctic">
      <div class="icon" id="arctic"><i id="arctic" class="fa-solid fa-snowflake"></i></div>
      <p id="arctic">Arctic</p>
    </div>
    <div class="filter" id="farms">
      <div class="icon" id="farms"><i id="farms" class="fa-solid fa-cow"></i></div>
      <p id="farms">Farms</p>
    </div>
    <div class="filter" id="beach">
      <div class="icon" id="beach"><i id="beach" class="fa-solid fa-umbrella-beach"></i></div>
      <p id="beach">Beach</p>
    </div>
  </div>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for (listing of allListings){ %>
    <a href="/listings/<%= listing._id %>">
      <div class="card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="Listing-image"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b><br />
            &#8377;<%= listing.price.toLocaleString("en-IN") %>
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
