<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
      <h3>Create New Listing</h3>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Enter title"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Give a valid title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required></textarea>
        <div class="invalid-feedback">Briefly describe your property.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select name="listing[category]" id="category" class="form-control" required>
          <option value="rooms" name="listing[category]">Rooms</option>
          <option value="villa" name="listing[category]">Villa</option>
          <option value="with pool" name="listing[category]">With pool</option>
          <option value="iconic location" name="listing[category]">Iconic location</option>
          <option value="mountains" name="listing[category]">Mountains</option>
          <option value="camping" name="listing[category]">Camping</option>
          <option value="arctic" name="listing[category]">Arctic</option>
          <option value="famrs" name="listing[category]">Farms</option>
          <option value="beach" name="listing[category]">Beach</option>
        </select>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input type="text" name="listing[price]" class="form-control" required/>
          <div class="invalid-feedback">Enter valid price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input type="text" name="listing[country]" class="form-control" required/>
          <div class="invalid-feedback">Enter valid country name</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" class="form-control" required/>
        <div class="invalid-feedback">Enter valid location</div>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-dark btn-add">Add</button>
      </div>
    </form>
  </div>
</div>